In [ ]:
nama = ['YULIANITA',
'MUHAMAD FARRAS HANINDITO RUKMANTORO',
'ATIKA MARASABESSY'
'INDAH RAHMADHANIA',
'AHMAD MUHAJIR',
'SUMIHAR CHRISTIAN N S',
'YOHANES A CRUX GOSAL',
]

In [5]:
# nama = open('nama.txt')

# read file
with open('nama.txt') as f:
    nama = f.readlines()
nama

['YULIANITA\n',
 'MUHAMAD FARRAS HANINDITO RUKMANTORO\n',
 'ATIKA MARASABESSY\n',
 'INDAH RAHMADHANIA\n',
 'AHMAD MUHAJIR\n',
 'SUMIHAR CHRISTIAN N S\n',
 'YOHANES A CRUX GOSAL\n',
 'MOHAMAD ILHAM DWI FIRMANSYAH\n',
 'YUDA HENDRIAWAN BUDI HANDOKO\n',
 'SHAFIRA HERLINAWATI\n',
 'HENGKY KURNIAWAN\n',
 'SOVIA PRABANINGTYAS\n',
 'FERISA TRI PUTRI PRESTASI\n',
 'NUR LAILI ASTI PRAMESTI\n',
 'RENJIRO OWEN\n',
 'RIF`AN AMROZI\n',
 'SOMA USHIO\n',
 'ZUHAIR\n',
 'FRANSISCA DIVA AMADEA\n',
 'MIRDHA SUCI ANANDA\n',
 'JULINAR\n',
 'MUHAMMAD NANDA SETIAWAN\n',
 'ALDI EKA WAHYU WIDIANTO\n',
 'ARIQOH FAUZIYAH IRBAH\n',
 'GALANG REFORMANTOKO\n',
 'RIO TINTO HERLAMBANG\n',
 'MUHAMMAD JEFRI FRANSISKA\n',
 'EDWIN RISBOWO\n',
 'ALLIF ALFIYAN\n',
 'MOCHAMAD FARHAN MARGA KUSUMA\n',
 'ANGGA KURNIAWAN\n',
 'FARHAN HAFIZH\n',
 'ANDI AQIL AMANULHAQ\n']

In [21]:
random_list=[1,2,3,4,55]
with open ('nama_1.txt','w') as f:
    for nomor in random_list:
        f.write('\t'+str(nomor)+'\n')
        
#\n == enter
#\t == tab

#tipe permission
# w == write
# r == read
# a == append

In [22]:
random_list=[1,2,3,4,55]
with open ('nama_1.txt','a') as f:
        f.write('yo')

In [16]:
with open('nama.txt') as orang:
    nama = orang.readlines()
nama

#menghilangkan spasi di awal dan di akhir
mahasiswa = []
for orang in nama:
    orang = orang.strip()
    mahasiswa.append(orang)
mahasiswa

['YULIANITA',
 'MUHAMAD FARRAS HANINDITO RUKMANTORO',
 'ATIKA MARASABESSY',
 'INDAH RAHMADHANIA',
 'AHMAD MUHAJIR',
 'SUMIHAR CHRISTIAN N S',
 'YOHANES A CRUX GOSAL',
 'MOHAMAD ILHAM DWI FIRMANSYAH',
 'YUDA HENDRIAWAN BUDI HANDOKO',
 'SHAFIRA HERLINAWATI',
 'HENGKY KURNIAWAN',
 'SOVIA PRABANINGTYAS',
 'FERISA TRI PUTRI PRESTASI',
 'NUR LAILI ASTI PRAMESTI',
 'RENJIRO OWEN',
 'RIF`AN AMROZI',
 'SOMA USHIO',
 'ZUHAIR',
 'FRANSISCA DIVA AMADEA',
 'MIRDHA SUCI ANANDA',
 'JULINAR',
 'MUHAMMAD NANDA SETIAWAN',
 'ALDI EKA WAHYU WIDIANTO',
 'ARIQOH FAUZIYAH IRBAH',
 'GALANG REFORMANTOKO',
 'RIO TINTO HERLAMBANG',
 'MUHAMMAD JEFRI FRANSISKA',
 'EDWIN RISBOWO',
 'ALLIF ALFIYAN',
 'MOCHAMAD FARHAN MARGA KUSUMA',
 'ANGGA KURNIAWAN',
 'FARHAN HAFIZH',
 'ANDI AQIL AMANULHAQ']

In [31]:
#bikin list seribu nomer
list_seribu = []
for i in range(1000):
    list_seribu.append(i)
    
random_list = [1,2,3,4,55]
print(random_list)

#for i in range(len(random_list)):
#   random_list[i] = random_list[i]**2
    
for index, isi in enumerate(random_list):
    random_list[index] = isi**2
    
print(random_list)

[1, 2, 3, 4, 55]
[1, 4, 9, 16, 3025]

In [36]:
mahasiswa

for index, nama in enumerate(mahasiswa):
    print(f'{index+1}. {nama}')

1. YULIANITA
2. MUHAMAD FARRAS HANINDITO RUKMANTORO
3. ATIKA MARASABESSY
4. INDAH RAHMADHANIA
5. AHMAD MUHAJIR
6. SUMIHAR CHRISTIAN N S
7. YOHANES A CRUX GOSAL
8. MOHAMAD ILHAM DWI FIRMANSYAH
9. YUDA HENDRIAWAN BUDI HANDOKO
10. SHAFIRA HERLINAWATI
11. HENGKY KURNIAWAN
12. SOVIA PRABANINGTYAS
13. FERISA TRI PUTRI PRESTASI
14. NUR LAILI ASTI PRAMESTI
15. RENJIRO OWEN
16. RIF`AN AMROZI
17. SOMA USHIO
18. ZUHAIR
19. FRANSISCA DIVA AMADEA
20. MIRDHA SUCI ANANDA
21. JULINAR
22. MUHAMMAD NANDA SETIAWAN
23. ALDI EKA WAHYU WIDIANTO
24. ARIQOH FAUZIYAH IRBAH
25. GALANG REFORMANTOKO
26. RIO TINTO HERLAMBANG
27. MUHAMMAD JEFRI FRANSISKA
28. EDWIN RISBOWO
29. ALLIF ALFIYAN
30. MOCHAMAD FARHAN MARGA KUSUMA
31. ANGGA KURNIAWAN
32. FARHAN HAFIZH
33. ANDI AQIL AMANULHAQ